<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Richard Fenix">
    <title>Friend Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!--Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h2>Find a Friend</h2>
            <img src="/images/misc/background.jpg" alt="background" style="height: 300px;">
            <p>Simply answer a series of survey and we will find your next buddy.</p>
            <p><a class="btn btn-primary btn-lg" href="/survey" role="button">Answer Survey</a></p>
        </div>
    </div>
</div>
<!--End of Jumbotron-->
<footer class="footer">
    <div class="container">
        <a href="/api/friends" >List of buddy</a>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/reload/reload.js"></script>
</body>
</html>


