<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Juan Navarrete">
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
 <!--Jumbotron-->
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Questions</h1>
            <p>Answer below survey and we will find your most compantible buddy.</p>
        </div>
    </div>
</div>
 <!--End of Jumbotron-->

<div class="container" id="questions">
    <div class ="row">
    <div class="col-lg-12">
        <h2>Survey Questions</h2>
        <h4>Name <b>(Required)</b></h4>
        <input type="text" name="" id="name" class="form-control" required>

        <h4>Image URL <b>(Required)</b></h4>
        <input type="text" name="" id="photo" class="form-control" required>

        <hr>
            <h3><strong>Question 1</strong></h3>
            <h4>You consider yourself as a competitive person.</h4>
            <select data-placeholder="" class="chosen-select" id="q1">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3><strong>Question 2</strong></h3>
            <h4>You usually sleep very late at night.</h4>
            <select data-placeholder="" class="chosen-select" id="q2">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>


            <h3><strong>Question 3</strong></h3>
            <h4>You are a risk taker.</h4>
            <select data-placeholder="" class="chosen-select" id="q3">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>


            <h3><strong>Question 4</strong></h3>
            <h4>You enjoy the outdoors.</h4>
            <select data-placeholder="" class="chosen-select" id="q4">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>


            <h3><strong>Question 5</strong></h3>
            <h4>You love to dance.</h4>
            <select data-placeholder="" class="chosen-select" id="q5">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>


            <h3><strong>Question 6</strong></h3>
            <h4>You exercise a lot.</h4>
            <select data-placeholder="" class="chosen-select" id="q6">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>


            <h3><strong>Question 7</strong></h3>
            <h4>You are into music.</h4>
            <select data-placeholder="" class="chosen-select" id="q7">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3><strong>Question 8</strong></h3>
            <h4>You like dogs more than cats.</h4>
            <select data-placeholder="" class="chosen-select" id="q8">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3><strong>Question 9</strong></h3>
            <h4>You rather cook than go out for a meal/dinner.</h4>
            <select data-placeholder="" class="chosen-select" id="q9">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <h3><strong>Question 10</strong></h3>
            <h4>You rather read a book than watch a movie.</h4>
            <select data-placeholder="" class="chosen-select" id="q10">
                <option value=""></option>
                <option value="1">1 (Strongly Disagree)</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 (Strongly Agree)</option>
            </select>

            <br>
            <br>

            <!-- Submit Button -->
            <a href="#">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
                    Submit</button>
            </a>
            <!--modal-->
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <div class="caption">Your new friend is ... </div>
                            <img src="" class="imagepreview" >
                            <div class="caption" id="caption"></div>
                        </div>

                    </div>
                </div>
            </div>

            <hr>
            <!--footer-->
            <footer class="footer">
                <div class="container">
                    <a href="/api/friends" >List of buddy</a>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="script.js"></script>

</body>
</html>